@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Comfortaa:wght@300..700&family=M+PLUS+1p&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, monospace;
}
body{
    background: rgba(85,0,227,.4);
}
.wrapper{
    margin: auto;
    width: 30%;
    padding: 2rem 1rem;
    margin-top: 2%;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    align-self: center;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
h1{
    font-size: 2rem;
    color: #07001f;
    margin-bottom: 1.2rem;
}
form input{
    width: 92%;
    outline: none;
    border: 1px solid #fff;
    padding: 12px 20px;
    border-radius: 20px;
    margin-bottom: 10px;
    background-color: #e4e4e4;
}
button{
    border-radius: 1vw;
    /* position: absolute; */
    background: rgb(85,0,227);
    background: linear-gradient(90deg, rgba(85,0,227,1) 0%, rgba(198,61,255,1) 100%);
    /* height: 110px; */
    left: 0;
    right: 0;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
    color: #fff;
    font-size: 1rem;
    padding: 10px 0;
    outline: none;
    border: none;
    width: 90%;
    cursor: pointer;
}
.terms{
    margin-top: 0.2rem;
}
.terms input{
    height: 1em;
    width: 1em;
    vertical-align: middle;
    cursor: pointer;
}
.terms label{
    font-size: 0.7rem;
}
.terms a{
    color: rgb(17, 107, 143);
    text-decoration: none;
}
.member{
    font-size: 0.8 rem;
    margin-top: 1.5rem;
    color: #636363;
}
.member a{
    color: rgb(17, 107, 143);
    text-decoration: none;
}
.recover{
    text-align: right;
    font-size: 0.7rem;
    margin: 0.3rem 1.4rem 0 0;
}
.recover a{
    text-decoration: none;
    column-rule: #464647;
}
.form .column{
    display: flex;
    column-gap: 15px;
}
.select-box{
    margin: auto;
    align-self: center;
    position: relative;
    height: 50px;
    width: 90%;
    /* outline: none; */
    font-size: 1rem;
    /* color: #707070; */
    margin-bottom: 10px;
    border:  1px solid #ddd;
    border-radius: 6px;
    /* padding: 0 15px; */
}
.select-box select{
    height: 100%;
    width: 90%;
    outline: none;
    border: none;
    color: #707070;
    font-size: 1rem;
}
#error-p{
    margin-left: 15px;
    color: #707070;
    font-size: .9rem;
    text-align: left;
    margin-top: 1rem;
}